.heading{
    font-family: 'Times New Roman', Times, serif;
    margin:2px;
    padding: 2px;
}

.dictionary{
    margin: 2px;
    padding: 2px;
    
}
button{
    font-family: 'Times New Roman', Times, serif;
}